
@{
    ViewBag.Title = "Landing";
}
<div>
    <a href="/Portfolio/Landing">Home</a>
    <a href="/Portfolio/Myprofile">Profile</a>
    <a href="/Portfolio/Education">Education</a>
    <a href="/Portfolio/Project">Project</a>
    <a href="/Portfolio/References">References</a>


</div>
<h3>Name: @ViewBag.Name</h3>
<h4>Email: @ViewBag.Email</h4>
<p>Bio:
    
    @ViewBag.Bio
    
 </p>

