
@{
    ViewBag.Title = "References";
}
<div>
    <a href="/Portfolio/Landing">Home</a>
    <a href="/Portfolio/Myprofile">Profile</a>
    <a href="/Portfolio/Education">Education</a>
    <a href="/Portfolio/Project">Project</a>
    <a href="/Portfolio/References">References</a>


</div>
<h2>References</h2>

@ViewBag.Name1<br />
@ViewBag.Phone1<br />
@ViewBag.Designation<br />